<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="/submitFilm" method="post">
        <label for="">Nom</label>
        <input type="text" name="nom">
        <label for="">Date</label>
        <input type="text" name="date">
        <label for="">Realisateur</label>
        <input type="text" name="realisateur">
        <label for="">Genre</label>
        <input type="text" name="genre">
       

        <input type="submit" value="envoyer">
    </form>
</body>
</html>